<footer id="footer">
  <div class="github">
    <h3><%= link_to  "Github", "https://github.com/felipearakaki16/final-project-3", target: "_blank" %></h3>
  </div>
  <div class="social-medias">
    <h4>Follow us</h4>
    <div>
      <a href="https://github.com/felipearakaki16" target="_blank"><img src="/game_images/github.png"></a>
      <a href="https://github.com/isaporto" target="_blank"><img src="/game_images/github.png"></a>
      <a href="https://github.com/msmarinho" target="_blank"><img src="/game_images/github.png"></a>
    </div>
  </div>
</footer>
