<h1>Pages#home</h1>
<p>Testando Claudio-nary</p>



<%= cl_image_tag("tqiduj2ohlmjmfjwbrjv.jpg",
      width: 400, height: 300, crop: :fill) %>

<!-- for face detection -->
<%= cl_image_tag("pggmykgkktnkldkmxae9.jpg",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>