.card-example {
  position: relative;
  background-color: white;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  flex: 0, 0, 30%;
  margin: 10px 50px 50px 50px;
  height: 300px;
  padding: 10px;
}
.card-example img {
  width: 100px;
}
.card-example p {
  opacity: 0.8;
}
.container-example h2 {
  text-align: center;
  margin-top: 20px;
}