.footer-example {
  position: relative;
  background-color: #715844;
  color: white;
  text-align: center;
  height: 30vh;
  bottom: 0;
  margin: 20px 0 0 0;
}
.footer-example i {
  font-size: 30px;
}
.footer-example p {
  opacity: 0.8;
}
.footer-example a {
  color: white;
  transition: 0.3s;
}
.footer-example a:hover {
  opacity: 0.8;
}