
  <% @levels.sort_by{ |e| e[:level] }.each do |level| %>
    <h2><%= level[:level].name %></h2>
    <p><%= link_to "Play", level_path(level[:level]), class: "btn btn-green" %></p>
    <p><strong>Subject: </strong><%= level[:level].description %></p>    
    <p><%= "Level completed" if !level[:record]&.completed_at.nil? %></p>
    <br>
    <br>
  <% end %>
  