<div class="content">
  <div id="level-header">
    <h1>Level 1</h1>
  </div>
  <div id="typewriter" class="baloon">
  </div>
  <div id="examples"></div>
  <div class="btn-level">
    <button id="prev-btn">Prev</button>
    <button id="next-btn">Next</button>
      <script src="jquery-3.5.1.min.js"></script>
    </div>
  </div>
</div>