<div class="content">
  <div id="level-header">
  </div>

  <div id="typewriter" class="baloon" data-level-name="<%= @level.name %>">
  </div>

  <div id="examples"></div>

  <div class="btn-level">
    <button id="prev-btn">Prev</button>
    <button id="next-btn">Next</button>
  </div>
</div>
<%= link_to "Back to Levels", levels_path %>
