
<div class="content">
  <div id="level-header">
  </div>
  <div id="typewriter" class="baloon">
  </div>
  <div id="examples"></div>
  <div class="btn-level">
    <button id="prev-btn">Prev</button>
    <button id="next-btn">Next</button>
    </div>
  </div>
</div>
<%= link_to "Back to Levels", levels_path %>
<script>
  let levelName = '<%= @level.name %>'
</script>

<%# Quando a fase for concluida, tem que mandar para o user_record_path para atualizar o completed_at%>