<div class="content">
  <div id="level-header"></div>
  <div id="typewriter" class="baloon"></div>
  <div id="examples"></div>
  <div class="btn-level">
    <button id="prev-btn">Prev</button>
    <button id="next-btn">Next</button>
  </div>
  <%
=begin%>
 <div id="iframes">
    <iframe src="<% @file %>" id="frame-question" class="frame" frameborder="0" allowfullscreen="true">
    </iframe>
  </div> 
<%
=end%>
</div>
<%= link_to "Back to Levels", levels_path %>
<script>
  let levelName = '<%= @level.name %>'
</script>

