<div class="content">
  <div id="level-header">
  </div>

  <div id="typewriter" class="baloon" data-level-name="<%= @level.name %>">
  </div>
  <div class="box-form">
    <form id="box-answer" action="#">
      <input id="answer" type="text">
    </form>
  </div>
  <div id="examples">
    <div id="iframes">
      <iframe src="<%= level_example_url(@level.examples.first) %>" id="iframe-question" class="frame" frameborder="0" allowfullscreen="true">
      </iframe>
    </div>
  </div>

  <div class="btn-level">
    <button id="prev-btn">Prev</button>
    <button id="next-btn">Next</button>
  </div>
</div>
<%= link_to "Back to Levels", levels_path %>
