// Banner of landing page example
.banner-ex {
  height: 70vh;
  background: image-url("pacman-background.jpg") no-repeat;
  background-size: cover;
  border: 1px solid #4B4C9D;
  text-align: end;
  h1 {
    font-size: 3rem;
  }
}
.banner-content {
  width: max-content;
  h1, h2, h3 {
    color: white;
  }
}
.banner-correction {
  display: flex;
  justify-content: center;
  align-items: center;
}