// Style of Code example boxes

.showVsCode {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-codes {
  width: 500px;
  height: 400px;
  position: relative;
  padding: 0 !important;
  overflow: hidden;
}
pre code {
  white-space: pre-wrap !important;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap !important;      /* Opera 4-6 */
  white-space: -o-pre-wrap !important;    /* Opera 7 */
  word-wrap: break-word !important;       /* Internet Explorer 5.5+ */
}
.html-code {
  text-align: left;
  position: absolute;
  width: 100%;
  height: 90%;
  overflow: hidden;
  font-size: 12px;
}
.css-code {
  text-align: left;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 90%;
  font-size: 12px;
}

.css-code,
.css-code-flex,
.html-code,
.html-code-flex {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: white;
  }
}

.html-code-flex {
  text-align: left;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 90%;
  font-size: 12px;
}
.css-code-flex {
  text-align: left;
  position: absolute;
  width: 100%;
  height: 90%;
  overflow: hidden;
  font-size: 12px;
}

.disable {
  display: none;
}
pre {
  overflow: initial !important;
}