.btn-level {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}
.disable {
  display: none !important;
}
.next {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.btn-css {
  background: rgba(0, 0, 0, 0.8);
  border: none;
  color: white;
  &:focus {
    outline: 0;
  }
}
.btn-html {
  border: none;
  color: white;
  background: #3d6f82;
  &:focus {
    outline: 0;
  }
}
.btn-css-flex {
  background: rgba(0, 0, 0, 0.8);
  border: none;
  color: white;
  &:focus {
    outline: 0;
  }
}
.btn-html-flex {
  border: none;
  color: white;
  background: #3d6f82;
  &:focus {
    outline: 0;
  }
}
.nes-btn {
  color: black !important;
}