.btn-level {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}
.disable {
  display: none;
}
.next {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}