.game-card {
  background: black;
  border: 1px solid white;
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  margin-top: 3rem;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
.title {
  font-size: 20px !important;
}
.game-card-options {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  width: 90%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-product {
  position: relative;
  overflow: hidden;
  background-color: #969696;
  border-radius: 5px;
  height: 300px;
  color: black;
  padding: 0;
  .avatar {
    width: 50px;
  }
  .product-img-card {
    width: 300px;
    position: absolute;
    filter: brightness(0.8);
    transition: 0.3s;
    &:hover {
      filter: brightness(1);
    }
  }
  .price {
    background-color:  rgba(163, 247, 191, 0.9);
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 5px;
    p {
      margin: 0;
    }
  }
  .nav-card {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 5px;
    z-index: 2;
    background-color: rgba(163, 247, 191, 0.9);
    width: 100%;
    p {
      margin: 0;
    }
    .from {
      font-size: 14px;
    }
    .product-name-card {
      font-size: 24px;
    }
    em.username {
      font-style: normal;
      font-size: 18px;
    }
  }
}

.card-desc {
  margin: 0 auto;
  background: rgba(255, 203, 116, 0.7);
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.card-item {
  overflow: hidden;
  border-radius: 4px;
  height: 8rem;
  background: white;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-item img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-item h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-item p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-item .card-item-infos {
  padding: 16px;
}

// Card from landing page example
.card-ghosts {
  padding: 10px;
  border: 2px #625FB5 solid;
  border-radius: 5px;
  margin: 32px;
  min-height: 350px;
  max-width: 380px;
  img {
    height: 6rem;
  }
}
.card-correction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.cards-correction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-record {
  border-radius: 2px;
  border: 2px solid white;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nes-container.with-title.is-centered>.title {
  color: white;
  font-family: 'Press Start 2P';
}
.flex-list > .nes-container {
  max-width: 300px;
  min-height: 250px;
  margin: 10px;
  p {
    width: max-content;
    margin: 10px auto;
  }
}