body {
  margin: 0;
  padding: 0;
}

#page-container {
  position: relative;
  min-height: 100vh;
  background-image: url(https://media.giphy.com/media/TZf4ZyXb0lXXi/source.gif);
  background-size: cover;
  //https://media.giphy.com/media/9bTjZrytydVRK/giphy.gif
}
#page-container-example {
  position: relative;
  min-height: 100vh;
  background-color: black;
}
#content-wrap {
  padding-bottom: 12rem;
}
.content {
  margin: 10px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.baloon {
  margin: 5% auto;
  width: 90%;
  height: 100%;
  padding: 10px 15px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 4px;
}
.products-container {
  margin: 0 auto;
}

.box-exercise {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 20px 0;
}
.content-profile {
  border: 1px solid white;
  border-radius: 10px;
  justify-content: center;
}