body {
  margin: 0;
  padding: 0;
}

#page-container {
  position: relative;
  min-height: 100vh;
  background-image: url(https://media.giphy.com/media/l0K4lUxBzIOeJd1EA/giphy.gif);
  background-size: cover;
}
#content-wrap {
  padding-bottom: 12rem;
}
.content {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.baloon {
  margin: 5% auto;
  width: 90%;
  height: 19rem;
  padding: 10px 15px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 4px;
}
.products-container {
  margin: 0 auto;
}
