.navbar {
  background: #2c2c2c;
  padding: 0.8rem 1rem;
  h1 {
    margin: 0;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
.navbar-nav {
  flex-direction: row;
  font-size: 24px;
  color: white;
  h3 {
    font-size: 1rem;
  }
  a {
    margin: 0 10px;
    color: white;
  }
}

// Navbar of landing page example

.navbar-ex {
  padding: 10px;
  height: 4.5rem;
  border-bottom: 1px solid #4B4C9D;;
  ul {
    list-style: none;
    a {
      color: white;
      &:hover {
        color: rgb(204, 204, 204);
        text-decoration: none;
      }
    }
  }
}
.logo {
  height: 100%;
}
.nav-correction {
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    align-items: center;
    margin: 0;
  }
  li {
    margin: 0px 10px;
  }
}